@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <button class="btn btn-link" @onclick="ToggleTheme">@Localizer["ToggleTheme"]</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code{
    private async Task ToggleTheme()
    {
        var culture = System.Globalization.CultureInfo.CurrentCulture.Name;       
        var newCulture = culture.Equals("en-US") ? "ar-SA" : "en-US"; 
        await JSRuntime.InvokeVoidAsync("setCultureCookie", newCulture);
       
    }
}